# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JavaScript, TypeScript, JSX, TSX files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# CSS, SCSS, LESS files
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# Configuration files
[*.{json,yml,yaml,ini}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Package files
[package.json]
indent_style = space
indent_size = 2

# TypeScript config
[tsconfig*.json]
indent_style = space
indent_size = 2

